# Sekcja 4: DataSeries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [3]:
x=(1,2,3,4)
pd.Series(x)

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
names=["Łukasz","Marek","Aneta"]
pd.Series(names)

0    Łukasz
1     Marek
2     Aneta
dtype: object

In [8]:
dictionary={"name": "Łukasz",
           "surname": "Mossakowski"}
pd.Series(dictionary)

name            Łukasz
surname    Mossakowski
dtype: object

## LAB 1

In [13]:
weekdays=["monday", "tuesdat", "wednesday", "thursday", "friday", "saturday", "sunday"]
weekdaySeries=pd.Series(weekdays)
weekdaySeries

0       monday
1      tuesdat
2    wednesday
3     thursday
4       friday
5     saturday
6       sunday
dtype: object

In [16]:
freeDays=[False, False, False, False, False, True, True]
freeDaysSeries=pd.Series(freeDays)
freeDaysSeries

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

## LAB 2

In [17]:
import random as rnd

In [26]:
dataAsFloatList=[]

In [27]:
for i in range(100000):
    dataAsFloatList.append(i*rnd.random())

In [28]:
dataAsFloatListSeries=pd.Series(dataAsFloatList)

In [37]:
print(dataAsFloatListSeries.size)
print("memory:\t",dataAsFloatListSeries.nbytes)
print("memory:\t",dataAsFloatListSeries.memory_usage(deep=True))
print(dataAsFloatListSeries.shape)
print(dataAsFloatListSeries.axes)
print(dataAsFloatListSeries.dtype)
print(dataAsFloatListSeries.index)
print(dataAsFloatListSeries.is_unique)
print(dataAsFloatListSeries.is_monotonic_increasing)

100000
memory:	 800000
memory:	 800128
(100000,)
[RangeIndex(start=0, stop=100000, step=1)]
float64
RangeIndex(start=0, stop=100000, step=1)
True
False

In [39]:
dataAsStringList=[]
for i in range(100000):
  dataAsStringList.append(str(i*rnd.random()))

In [40]:
dataAsStringListSeries=pd.Series(dataAsStringList)

In [42]:
print("size:\t:",dataAsStringListSeries.size)
print("nbytes:\t:",dataAsStringListSeries.nbytes)
print("nbytes:\t:",dataAsStringListSeries.memory_usage(deep=True))
print("dtype:\t",dataAsStringListSeries.dtype)

size:	: 100000
nbytes:	: 800000
nbytes:	: 7434663
dtype:	 object

## LAB 3

In [3]:
cities=["Shanghai","Beijing","Istanbul"]
population=[24183300, 20794100, 15030000]
citypop=pd.Series(population, cities)
citypop

Shanghai    24183300
Beijing     20794100
Istanbul    15030000
dtype: int64

In [4]:
citypop=pd.Series(data=population, index=cities)
citypop

Shanghai    24183300
Beijing     20794100
Istanbul    15030000
dtype: int64

In [9]:
populationSeries=pd.Series(population)
populationSeries.sum()

60007400

In [10]:
av=populationSeries.mean()
av

20002466.666666668

In [12]:
populationSeries.keys()

RangeIndex(start=0, stop=3, step=1)

In [13]:
populationSeries.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
populationSeries.values

array([24183300, 20794100, 15030000], dtype=int64)

## Filtrowanie danych w DataSeries - wykład

In [55]:
data=[1,2,3,11,12,13]
dataSeries=pd.Series(data)
dataSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [56]:
dataSeries>10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [57]:
dataSeries.where(dataSeries>10)

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [49]:
dataSeries.where(dataSeries>10,other="")

0
1
2
3    11
4    12
5    13
dtype: object

In [37]:
dataSeries.where(dataSeries>10).dropna()

3    11.0
4    12.0
5    13.0
dtype: float64

In [38]:
dataSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [43]:
dataSeries.where(dataSeries>10,inplace=True)
dataSeries

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [24]:
dataSeries.dropna(inplace=True)
dataSeries

3    11.0
4    12.0
5    13.0
dtype: float64

In [54]:
numbers=[1,2,3,4]
numbersSeries=pd.Series(numbers)
numbersSeries.filter(items=[0,3])

0    1
3    4
dtype: int64

## LAB 4

In [85]:
wypadki=[14,334,312,5823,9491,7486,4343]
wiek=["<=6","7-14","15-17","18-24","25-39","40-59",">=60"]
incidentsSeries=pd.Series(data=wypadki, index=wiek)
incidentsSeries

<=6        14
7-14      334
15-17     312
18-24    5823
25-39    9491
40-59    7486
>=60     4343
dtype: int64

In [74]:
incidentsSeries.where(incidentsSeries>1000)

<=6         NaN
7-14        NaN
15-17       NaN
18-24    5823.0
25-39    9491.0
40-59    7486.0
>=60     4343.0
dtype: float64

In [77]:
incidentsSeries.where(incidentsSeries>1000,inplace=True)
incidentsSeries.dropna()

18-24    5823.0
25-39    9491.0
40-59    7486.0
>=60     4343.0
dtype: float64

In [78]:
incident1000=incidentsSeries.dropna()
incident1000

18-24    5823.0
25-39    9491.0
40-59    7486.0
>=60     4343.0
dtype: float64

In [83]:
incidentsSeries

<=6         NaN
7-14        NaN
15-17       NaN
18-24    5823.0
25-39    9491.0
40-59    7486.0
>=60     4343.0
dtype: float64

In [84]:
incidentsSeries.filter(items=["18-24","25-39","40-59"])

18-24    5823.0
25-39    9491.0
40-59    7486.0
dtype: float64

In [88]:
incidentsSeries.where(incidentsSeries<=1000,inplace=True)
incidentsSeries.dropna(inplace=True)
incidentsSeries

<=6       14.0
7-14     334.0
15-17    312.0
dtype: float64

## Zaawansowane filtrowanie - wykład

In [5]:
number=[1,2,3,11,12,13]
numberSeries=pd.Series(number)
numberSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [17]:
warunek1=numberSeries>10
warunek1

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [18]:
warunek2=numberSeries%2==1
warunek2

0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [20]:
numberSeries.where(warunek1 & warunek2).dropna()

3    11.0
5    13.0
dtype: float64

## LAB 5 - Zaawansowane filtrowanie

In [21]:
nameList= ['Albania','Austria','Belarus','Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia',
'Finland','France','Germany','Greece','Hungary','Iceland','Ireland','Italy',
'Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands',
'Norway','Poland','Portugal','Romania','Russia','Serbia','Slovenia','Spain', 'Sweden','Switzerland','United Kingdom','Turkey',
           'Ukraine']
energy2010List=[1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876,
51440,5911,5494,3230,3471,16830,3521,4171,5420,7010,24891,3797,4959,2551,
6410,4359,6521,5707,14934,8175,2498,3550,5701]
energy2012List=[2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919,
53203,5665,5398,3588,3608,14696,3626,4761,5416,6871,23658,3899,4736,2604,
6617,4387,6778,5573,14290,7886,2794,3641,5452]

In [42]:
namesSeries=pd.Series(nameList)
energy2010Series=pd.Series(energy2010List)
energy2012Series=pd.Series(energy2012List)

In [43]:
mean2010=energy2010Series.mean()
mean2010

7779.8421052631575

In [44]:
mean2012=energy2012Series.mean()
mean2012

7706.815789473684

In [45]:
filterAboveMean2010=energy2010Series>mean2010
filterAboveMean2010

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34     True
35    False
36    False
37    False
dtype: bool

In [46]:
filterAboveMean2012=energy2012Series>mean2012
filterAboveMean2012

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34     True
35    False
36    False
37    False
dtype: bool

In [48]:
namesSeries.where(filterAboveMean2010 & filterAboveMean2012).dropna()

1         Austria
3         Belgium
10        Finland
15        Iceland
20     Luxembourg
25         Norway
33         Sweden
34    Switzerland
dtype: object

In [49]:
filterBelowMean2010=energy2010Series<mean2010

In [50]:
energy2010Series.where(filterBelowMean2010)

0     1947.0
1        NaN
2     3564.0
3        NaN
4     4560.0
5     3814.0
6     4623.0
7     6348.0
8     6328.0
9     6506.0
10       NaN
11    7736.0
12    7264.0
13    5318.0
14    3876.0
15       NaN
16    5911.0
17    5494.0
18    3230.0
19    3471.0
20       NaN
21    3521.0
22    4171.0
23    5420.0
24    7010.0
25       NaN
26    3797.0
27    4959.0
28    2551.0
29    6410.0
30    4359.0
31    6521.0
32    5707.0
33       NaN
34       NaN
35    2498.0
36    3550.0
37    5701.0
dtype: float64

In [51]:
namesSeries.where(filterBelowMean2010 & filterAboveMean2012).dropna()

Series([], dtype: object)

## Reading Series - wykład

In [8]:
pd.read_csv("./pokemon.csv").head(0)

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [5]:
type(pd.read_csv("./pokemon.csv"))

pandas.core.frame.DataFrame

In [10]:
pd.read_csv("./pokemon.csv",usecols=["Name"])

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

In [21]:
pd.read_csv("./pokemon.csv",usecols=["Name"]).squeeze()

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [22]:
pd.read_clipboard(sep=",")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [27]:
pd.read_clipboard(sep=",")["Name"].head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Name, dtype: object

In [30]:
pd.read_clipboard(sep=",")["Name"].tail(3)

797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, dtype: object

## LAB 6 - Reading series

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [45]:
education=pd.read_csv("./StackOverflowDeveloperSurvey.csv",usecols=["FormalEducation"])

In [46]:
type(education)

pandas.core.frame.DataFrame

In [47]:
education.head(5)

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [61]:
education=pd.read_csv("./StackOverflowDeveloperSurvey.csv",usecols=["FormalEducation"]).squeeze()

In [62]:
type(education)

pandas.core.series.Series

In [63]:
education.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [53]:
allinfo=pd.read_csv("./StackOverflowDeveloperSurvey.csv")
country=allinfo["Country"]
country.head(5)

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [58]:
filterOnlyUSA=country=="United States"
filterOnlyUSA.head(5)

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [64]:
education.where(filterOnlyUSA).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object

## Standardowe medoty Pythona a obiekty PANDAS

## LAB 7 - Standardowe medoty Pythona a obiekty PANDAS

In [67]:
import pandas as pd
import math as math
import numpy as np
import matplotlib.pyplot as plt

In [76]:
salary=pd.read_csv("./StackOverflowDeveloperSurvey.csv")["Salary"].squeeze().dropna()
salary.head(5)

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [77]:
len(salary)

12891

In [78]:
min(salary)

0.0

In [79]:
max(salary)

197000.0

In [80]:
list(salary.head(5))

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [82]:
dict(salary.head(5))

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

In [83]:
listSalarySorted=sorted(salary,reverse=True)

In [84]:
listSalarySorted[:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]

In [86]:
salary.name="Salary of person"

In [87]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary of person, dtype: float64

## Sortowanie danych w DataSeries - wykład

## LAB 8 - Sortowanie danych w DataSeries

In [128]:
salary=pd.read_csv("./StackOverflowDeveloperSurvey.csv")["Salary"]
salary.dropna().head(5)

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [134]:
salary.sort_values(ascending=False).head(5)

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [132]:
salary.sort_values(ascending=True).head(5)

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [141]:
salary=salary.sort_values(ascending=False)

In [142]:
salary

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
           ...
51385         NaN
51386         NaN
51388         NaN
51389         NaN
51391         NaN
Name: Salary, Length: 51392, dtype: float64

In [146]:
max100Salaries=salary.sort_values(ascending=False).head(100)
min100Salaries=salary.sort_values(ascending=True).head(100)

In [144]:
max100Salaries.mean()

180198.1045586777

In [145]:
min100Salaries.mean()

67.08388907133794

## LAB 9 - Sprawdzenie czy element jest w serii

In [147]:
countries=pd.read_csv("./StackOverflowDeveloperSurvey.csv")["Country"].dropna()
countries.head(5)

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [149]:
"Spain" in countries.values

True

In [150]:
"Wonderland" in countries.values

False

## LAB 10

In [163]:
surveys=pd.read_csv("./StackOverflowDeveloperSurvey.csv")["CompanySize"].dropna()
surveys.head()

1          20 to 99 employees
2    10,000 or more employees
3    10,000 or more employees
4          10 to 19 employees
6          20 to 99 employees
Name: CompanySize, dtype: object

In [170]:
surveys[3]

'10,000 or more employees'

In [164]:
surveys[1:11]

2     10,000 or more employees
3     10,000 or more employees
4           10 to 19 employees
6           20 to 99 employees
7      Fewer than 10 employees
8     5,000 to 9,999 employees
10        100 to 499 employees
11        100 to 499 employees
13     Fewer than 10 employees
14    5,000 to 9,999 employees
Name: CompanySize, dtype: object

In [166]:
surveys[12345]

'20 to 99 employees'

In [167]:
surveys[12341:12350]

15989    1,000 to 4,999 employees
15991          20 to 99 employees
15992          10 to 19 employees
15993    1,000 to 4,999 employees
15994          20 to 99 employees
15995        100 to 499 employees
15996          10 to 19 employees
15997                I don't know
15998          20 to 99 employees
Name: CompanySize, dtype: object

In [171]:
surveys.sort_values(inplace=True)

In [172]:
surveys[3]

'10,000 or more employees'

In [173]:
surveys[1:11]

36683    1,000 to 4,999 employees
43105    1,000 to 4,999 employees
43102    1,000 to 4,999 employees
30582    1,000 to 4,999 employees
43072    1,000 to 4,999 employees
43063    1,000 to 4,999 employees
23955    1,000 to 4,999 employees
43060    1,000 to 4,999 employees
43056    1,000 to 4,999 employees
30558    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [175]:
surveys.reset_index(drop=True,inplace=True)
#powyżej polecenie resetujące DataSeries - przebudowuje indeks dostosowując do nowego sortowania danych

In [179]:
surveys[3]

'1,000 to 4,999 employees'

In [178]:
surveys[1:11]

1     1,000 to 4,999 employees
2     1,000 to 4,999 employees
3     1,000 to 4,999 employees
4     1,000 to 4,999 employees
5     1,000 to 4,999 employees
6     1,000 to 4,999 employees
7     1,000 to 4,999 employees
8     1,000 to 4,999 employees
9     1,000 to 4,999 employees
10    1,000 to 4,999 employees
Name: CompanySize, dtype: object

## Pobieranie wartości z serii - wykład

## LAB 11 - pobieranie wartości z serii

In [1]:
import pandas as pd

In [4]:
countries=pd.read_csv("./countries.csv", usecols=["Symbol","Name"], index_col="Symbol").squeeze()

In [5]:
countries.head(20)

Symbol
AF            Afghanistan
AL                Albania
DZ                Algeria
AD                Andorra
AO                 Angola
AI               Anguilla
AQ             Antarctica
AG    Antigua and Barbuda
SA           Saudi Arabia
AR              Argentina
AM                Armenia
AW                  Aruba
AU              Australia
AT                Austria
AZ             Azerbaijan
BS                Bahamas
BH                Bahrain
BD             Bangladesh
BB               Barbados
BE                Belgium
Name: Name, dtype: object

In [8]:
countries.at["FR"]

'France'

In [9]:
countries.get("FR")

'France'

In [10]:
countries.loc["FR"]

'France'

In [11]:
countries.iloc[13]

'Austria'

In [7]:
countries.iat[13]

'Austria'

In [12]:
countries[13]

'Austria'

In [13]:
countries.get(13)

'Austria'

In [15]:
nordic=["FI","SE","NO"]

In [25]:
countries.get(nordic)

Symbol
FI    Finland
SE     Sweden
NO     Norway
Name: Name, dtype: object

In [26]:
countries.loc[nordic]

Symbol
FI    Finland
SE     Sweden
NO     Norway
Name: Name, dtype: object

## Reindex i intersection - wykład

## LAB 12 - Reindex i intersection

In [31]:
import pandas as pd

In [7]:
countries=pd.read_csv("./countries.csv",usecols=["Symbol","Name"],index_col="Symbol").squeeze()

In [8]:
countries.dropna(inplace=True)

In [9]:
countries.head(20)

Symbol
AF            Afghanistan
AL                Albania
DZ                Algeria
AD                Andorra
AO                 Angola
AI               Anguilla
AQ             Antarctica
AG    Antigua and Barbuda
SA           Saudi Arabia
AR              Argentina
AM                Armenia
AW                  Aruba
AU              Australia
AT                Austria
AZ             Azerbaijan
BS                Bahamas
BH                Bahrain
BD             Bangladesh
BB               Barbados
BE                Belgium
Name: Name, dtype: object

In [10]:
toFind=["BB","AA","BS"]

In [14]:
countries.reindex(toFind).dropna()

Symbol
BB    Barbados
BS     Bahamas
Name: Name, dtype: object

In [15]:
countries.loc[countries.index.intersection(toFind)]

Symbol
BS     Bahamas
BB    Barbados
Name: Name, dtype: object

## Określenie indeksu podczas importu - wykład

## LAB 13: określenie indeksu podczas importu

In [20]:
fortune500=pd.read_csv("./Fortune_500_2017.csv", usecols=["Rank","Title"], index_col="Rank").squeeze()
fortune500.head(1)

Rank
1    Walmart
Name: Title, dtype: object

In [21]:
fortune500.head(10)

Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson
6     UnitedHealth Group
7             CVS Health
8         General Motors
9                   AT&T
10            Ford Motor
Name: Title, dtype: object

In [26]:
fortune500.tail(20)

Rank
481           Booz Allen Hamilton Holding
482                              Chemours
483    Western & Southern Financial Group
484                              Celanese
485                   Windstream Holdings
486                              Seaboard
487                             Essendant
488                                Apache
489                                Airgas
490                        Kelly Services
491                         Liberty Media
492                      Rockwell Collins
493             Robert Half International
494                             CH2M Hill
495                              Big Lots
496                         Michaels Cos.
497                         Toll Brothers
498                                 Yahoo
499                         Vistra Energy
500                        ABM Industries
Name: Title, dtype: object

In [27]:
fortune500=pd.read_csv("./Fortune_500_2017.csv",usecols=["Title","Employees"],index_col="Title").squeeze()

In [29]:
fortune500["IBM"]

414400

In [30]:
fortune500["Alphabet"]

72053

In [32]:
fortune500["Facebook"]

17048

In [33]:
fortune500["Apple"]

116000

In [35]:
fortune500.loc["IBM":"Intel"]

Title
IBM                          414400
State Farm Insurance Cos.     68234
Phillips 66                   14800
Johnson & Johnson            126400
Procter & Gamble             105000
Valero Energy                  9996
Target                       323000
Freddie Mac                    5982
Lowe’s                       240000
Dell Technologies            138000
MetLife                       58000
Aetna                         49500
PepsiCo                      264000
Archer Daniels Midland        31800
UPS                          335520
Intel                        106000
Name: Employees, dtype: int64

In [36]:
fortune500.max()

2300000

In [39]:
fortune500.where(fortune500==2300000).dropna()

Title
Walmart    2300000.0
Name: Employees, dtype: float64

## Więcej metod DataSeries - wykład

## LAB 14: więcej metod DataSeries

In [44]:
programmers=pd.read_csv("./StackOverflowDeveloperSurvey2018.csv", low_memory=False, usecols=["ConvertedSalary"]).squeeze()

In [45]:
programmers.mean()

95780.86178776571

In [47]:
programmers.median()

55075.0

In [48]:
programmers.std()

202348.21562528735

In [49]:
programmers.max()

2000000.0

In [52]:
fortune500=pd.read_csv("./Fortune_500_2017.csv", usecols=["Title","Employees"], index_col="Title").squeeze()

In [54]:
fortune500.head()

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

In [55]:
fortune500.idxmax()

'Walmart'

In [58]:
fortune500[fortune500.idxmax()]

2300000

In [59]:
fortune500.idxmin()

'A-Mark Precious Metals'

In [61]:
fortune500[fortune500.idxmin()]

83

## Modyfikacja Serii Danych - wykład

In [3]:
import pandas as pd
pokemon=pd.read_csv("./pokemon.csv", usecols=["Attack","Name"],index_col="Name").squeeze()

In [5]:
pokemon.head()

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
Name: Attack, dtype: int64

In [8]:
pokemon.head()*100

Name
Bulbasaur                 4900
Ivysaur                   6200
Venusaur                  8200
VenusaurMega Venusaur    10000
Charmander                5200
Name: Attack, dtype: int64

In [11]:
pokemon=pd.read_csv("./pokemon.csv", usecols=["Type 1","Name"],index_col="Name").squeeze()
pokemon.head()

Name
Bulbasaur                Grass
Ivysaur                  Grass
Venusaur                 Grass
VenusaurMega Venusaur    Grass
Charmander                Fire
Name: Type 1, dtype: object

In [14]:
pokemon.str.upper().head()

Name
Bulbasaur                GRASS
Ivysaur                  GRASS
Venusaur                 GRASS
VenusaurMega Venusaur    GRASS
Charmander                FIRE
Name: Type 1, dtype: object

In [15]:
"Type: " + pokemon.str.upper().head()

Name
Bulbasaur                Type: GRASS
Ivysaur                  Type: GRASS
Venusaur                 Type: GRASS
VenusaurMega Venusaur    Type: GRASS
Charmander                Type: FIRE
Name: Type 1, dtype: object

In [17]:
pokemon.value_counts().head()

Water      112
Normal      98
Grass       70
Bug         69
Psychic     57
Name: Type 1, dtype: int64

In [20]:
def ReplaceType(oldType):
    if oldType=="Water" or oldType=="Grass":
        return "Natural"
    else:
        return oldType

In [21]:
ReplaceType("Water")

'Natural'

In [22]:
ReplaceType("Fire")

'Fire'

In [34]:
pokemonReplacetype=pokemon.apply(ReplaceType)

In [35]:
pokemonReplacetype.head()

Name
Bulbasaur                Natural
Ivysaur                  Natural
Venusaur                 Natural
VenusaurMega Venusaur    Natural
Charmander                  Fire
Name: Type 1, dtype: object

In [36]:
pokemonReplacetype.value_counts()

Natural     182
Normal       98
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

## LAB 15: Modyfikacja Serii Danych

In [37]:
surveys=pd.read_csv("./StackOverflowDeveloperSurvey.csv",usecols=["Salary"]).squeeze().dropna()

In [38]:
surveys.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [39]:
surveys.count()

12891

In [40]:
surveysIncrease=surveys*0.03

In [41]:
surveysIncrease.head()

2     3412.50
14    3000.00
17    3900.00
18    2475.00
22    3022.92
Name: Salary, dtype: float64

In [42]:
surveysAfterIncrease=surveys+surveysIncrease

In [43]:
surveysAfterIncrease.head()

2     117162.50
14    103000.00
17    133900.00
18     84975.00
22    103786.92
Name: Salary, dtype: float64

In [44]:
surveysTime=pd.read_csv("./StackOverflowDeveloperSurvey2018.csv.", usecols=["HoursOutside"], low_memory=False).squeeze().dropna()

In [45]:
surveysTime.head()

0             1 - 2 hours
1         30 - 59 minutes
3    Less than 30 minutes
4             1 - 2 hours
5         30 - 59 minutes
Name: HoursOutside, dtype: object

In [46]:
surveysTime.value_counts()

1 - 2 hours             27788
30 - 59 minutes         24002
Less than 30 minutes    11223
3 - 4 hours              7186
Over 4 hours             1825
Name: HoursOutside, dtype: int64

In [58]:
surveysTime.str.lower().head()

0             1 - 2 hours
1         30 - 59 minutes
3    less than 30 minutes
4             1 - 2 hours
5         30 - 59 minutes
Name: HoursOutside, dtype: object

In [59]:
surveysTime.apply(lambda text: text.upper())

0                 1 - 2 HOURS
1             30 - 59 MINUTES
3        LESS THAN 30 MINUTES
4                 1 - 2 HOURS
5             30 - 59 MINUTES
                 ...
93408             1 - 2 HOURS
93416             3 - 4 HOURS
93435             1 - 2 HOURS
93442    LESS THAN 30 MINUTES
93462             1 - 2 HOURS
Name: HoursOutside, Length: 72024, dtype: object

In [66]:
def ChangeDescription(napis):
    if napis=='Less than 30 minutes':
        return 'LESS THAN HALFHOUR'
    else:
        return napis

In [67]:
surveysTime.apply(ChangeDescription).

0               1 - 2 hours
1           30 - 59 minutes
3        LESS THAN HALFHOUR
4               1 - 2 hours
5           30 - 59 minutes
                ...
93408           1 - 2 hours
93416           3 - 4 hours
93435           1 - 2 hours
93442    LESS THAN HALFHOUR
93462           1 - 2 hours
Name: HoursOutside, Length: 72024, dtype: object

In [68]:
surveysTime.value_counts()

1 - 2 hours             27788
30 - 59 minutes         24002
Less than 30 minutes    11223
3 - 4 hours              7186
Over 4 hours             1825
Name: HoursOutside, dtype: int64

## Mapowanie - wykład

## LAB 16: Mapowanie

In [69]:
import pandas as pd
import random as rd

In [75]:
aircrafts={
        "PYT001": "Airbus 320",
        "PYT002": "Boeing 737",
        "PYT003": "Airbus 321"}
aircrafts=pd.Series(aircrafts)

In [71]:
flightsList=[]

In [76]:
for i in range(100):
    flightsList.append(rd.choice(aircrafts.index))

In [77]:
 flightsList[:5]

['PYT001', 'PYT002', 'PYT001', 'PYT003', 'PYT001']

In [78]:
flights=pd.Series(flightsList)

In [80]:
flights.head(5)

0    PYT001
1    PYT002
2    PYT001
3    PYT003
4    PYT001
dtype: object

In [81]:
flights.shape

(100,)

In [83]:
flights.map(aircrafts).head()

0    Airbus 320
1    Boeing 737
2    Airbus 320
3    Airbus 321
4    Airbus 320
dtype: object